body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #135ddc;
}

a:hover {
    color: #135fff;
    text-decoration: underline;
}

div.main_menu {
    position: fixed;
    background: darkgray;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
}

button.menu_button {
    border: 0;
    background-color: red;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
}

button.menu_button:hover {
    border: 0;
    background-color: lightcoral;
    padding: 10px;
}

.card_main {
    background-color: lightgray;
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border-style: dashed;
    border-color: gray;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 20%;
    min-height: calc((16/9)*20%);
    width: auto;
    height: auto;
    overflow: hidden;
}

.card_mod {
    background-color: #ff3131;
    color: white;
    user-select: none;
}

.card_mod:hover {
    background-color: #ff5151;
    cursor: pointer;
}

.card_mod_prev {
    left: calc((100% - 50%) - 20%);
    top: 50%;
    min-width: 5%;
    max-width: 5%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0;
}

.card_mod_next {
    left: calc(100% - 30%);
    top: 50%;
    min-width: 5%;
    max-width: 5%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0;
}

a.kanji_link {
    text-decoration: none;
    color: #444;
}

.card_main_kanji {
    font-size: 40px;
}

.card_main_meaning {
    font-size: 20px;
}

hr.card_main_separator {
    border: 0;
    margin: 10px;
    border: 2px solid darkgray;
}

.main_panel {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    position: absolute;
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    top: 64px;
}

.editor_tab_button {
    background-color: crimson;
    border: 0;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button_radius_mod_right {
    border-top-right-radius: 0;
}

.button_radius_mod_left {
    border-top-left-radius: 0;
}

.editor_tab_button:hover {
    background-color: #ff7a7a;
}

.editor_tab_button.active {
    background-color: #ff5252;
}

.main_panel_subdiv {
    padding: 10px;
}

#conj_text_input {
    width: calc(100% - 20px - 30px);
    border: 0;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

#conj_text_button {
    border: 0;
    background-color: #ff2a2a;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

#conj_text_button:hover {
    background-color: #ff5252;
    cursor: pointer;
}

button.conj_tab_button {
    border: 0;
    padding: 10px;
    background-color: #ff2a2a;
    color: white;
}

button.conj_tab_button:disabled {
    background-color: gray;
}

button.conj_tab_button:disabled:hover {
    background-color: gray;
}

button.conj_tab_button:hover {
    background-color: #ff5151;
}

button.cls_conj_tab_active {
    background-color: #ff7a7a;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-bold {
    font-weight: inherit;
}

.conj_tab_content {
    padding: 10px;
    background-color: darkgray;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.varb_form {
    background-color: #ff2a2a;
    color: white;
    text-align: right;
}

.conj_cell {
    padding: 10px;
    margin: 0;
}

.conj_cell_def {
    background-color: white;
}

.conj_cell_def_neg {
    background-color: #ddd;
}

.base_col {
    background-color: red;
    color: white;
    width: 50%;
}

.base_conj {
    width: 50%;
    background-color: lightgray;
}

.inflection_highlight {
    color: red;
    font-weight: bold;
}

.inflection_highlight_custom {
    font-weight: bold;
}

.editor_list {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: azure;
    overflow-x: auto;
    overflow-y: scroll;
}

.editor_list_item {
    display: flex;
    flex-direction: row;
}

.editor_list_item_nopadd {
    padding: 0;
}

.item_non_terminal {
    border-bottom: 2px solid lightgray;
}

.editor_column_cell {
    padding: 10px;
    background-color: azure;
    border-right: 1px solid #ceffff;
    border-bottom: 1px solid #ceffff;
    width: 10%;
}

.editor_col_cell_non_terminal {
    border-right: 0;
}

.editor_list_item_cell {
    border-right: 2px solid lightgray;
    width: 10%;
    padding: 10px;
    overflow: auto;
}

.insert_button_cls {
    width: calc(100% - 10px);
    height: 100%;
    border: 0;
    background-color: #ff5151;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.insert_button_cls:hover {
    background-color: #ff6e6e;
}

.add_field_stl {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border: 0;
    border: 2px solid gray;
    border-radius: 10px;
}

.popup_window {
    background-color: #ff2a2a;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    border-radius: 10px;
    margin: 100px;
    border: 1px solid black;
    display: none;
}

.color-gray {
    color: #444;
}

.popup_window_title {
    color: black;
    background-color: darkgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.popup_window_title:hover {
    background-color: #ff7a7a;
    cursor: pointer;
}

.jsonSrc {
    background-color: white;
    color: black;
    border: 0;
    font-family: Consolas, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: auto;
    cursor: default;
}

textarea.jsonSrc:disabled {
    background-color: lightgray;
}

div.popup_window_dim {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    display: none;
}

.xitmbtn {
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: red;
    color: white;
    user-select: none;
}

.xitmbtn:hover {
    background-color: #ff5151;
}

.delcelmod {
    display: none;
}

input[type=file].json_upload_old {
    display: none;
}

.json_upload_editor {
    display: inline-block;
    padding: 7px 13px;
    width: calc(100% - 26px);
    height: calc(100% - 13px);
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #ff5151;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    
}

div.fc_controls {
    position: absolute;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 10px;
    border-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    left: 30%;
    bottom: 0;
    top: calc(100% - 100px);
    right: 30%;
    padding: 10px;
}

.info_button {
    user-select: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
    width: 100%;
    height: 100%;
    color: #444;
}

button.control_button {
    border: 0;
    color: white;
    background-color: #ff3131;
    border-radius: 10px;
    padding: 5px;
    width: calc(100% / 3 - 5px);
    height: 100%;
}

button.control_button:hover {
    background-color: #ff6e6e;
    cursor: pointer;
}

button.control_button:disabled {
    background-color: #444;
    color: white;
    cursor: default;
}

.controls_span {
    display: none;
}

#fc_separator, #fc_meaning {
    display: none;
}

div.control_cbx {
    left: 80%;
    right: 0;
    top: 70%;
    padding: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.control_cbx_subdiv {
    width: 100%;
    height: 100%;
}

.fc_main_subdiv {
    align-items: center;
    align-content: center;
    text-align: center;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

button.start_again_button {
    margin: 10px;
    border: 0;
    background-color: #135ddc;
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: none;
}

button.start_again_button:hover {
    background-color: #135fff;
    cursor: pointer;
}

.file_upload_mod {
    width: 20%;
    padding: 10px;
}

.file_upload_mod:hover {
    background-color: #ff7a7a;
}

div.prev_next_class {
    display: none;
}

.editor_htmlbox {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    padding: 10px;
    display: none;
    font-family: Consolas, sans-serif, Arial, Tahoma;
}

.word_found_mod {
    background-color: mediumspringgreen;
}

input[type=text].search_field {
    background-color: white;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 25px);
    height: calc(100% - 20px);
}

.found_word_mod {
    background-color: aqua;
}

.kanji_week_graph {
    background-color: lightgray;
    border: 1px solid black;
    width: auto;
    display: flex;
    flex-direction: column;
}

.kanji_week_graph_cellist {
    background-color: white;
    width: auto;
    display: flex;
    flex-direction: row;
}

.kanji_week_graph_cellist_cell {
    padding: 5px 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid gray;
}

.mod_gray {
    background-color: lightgray;
}

.kanji_week_graph_cellist_cell_data {
    display: flex;
    flex-direction: row;
    border-bottom: 0;
}

.graph_kanji {
    user-select: none;
    color: white;
    font-weight: bold;
    background-color: crimson;
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
}

div.quiz_div {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center; 
    border: 1px solid lightgray;
    width: calc(100% - 20px);
    padding: 10px;
    height: auto;
}

button.kotae_button {
    border: 0;
    background-color: crimson;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    min-height: 50px;
    margin: 2px;
}

button.kotae_button:hover {
    background-color: green;
    cursor: pointer;
}

.answer_cell {
    width: 100%;
    padding: 5px;
}

.prev_next_btn {
    background-color: crimson;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.prev_next_btn:hover {
    background-color: #ff5151;
    cursor: pointer;
}

.n5 { background-color: rgb(126, 170, 250); }
.n4 { background-color: #3ad98f; }
.n3 { background-color: #bf7bff; }
.n2 { background-color: rgb(255, 197, 88); }
.n1 { background-color: #ff5f5f; }
.nn { background-color: #fff;}

.n5:hover { background-color: rgb(152, 188, 255); }
.n4:hover { background-color: #5edba1; }
.n3:hover { background-color: #d1a0ff; }
.n2:hover { background-color: rgb(255, 213, 136); }
.n1:hover { background-color: #ff9090; }
.nn:hover { background-color: #efefef;}

select.level_select {
    border: 0;
    padding: 10px;
    background-color: aquamarine;
    color: black;
    width: 100%;
    border-radius: 5px;
}

div.popup_info {
    font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
    background-color: lightgray;
    position: fixed;
    left: 0;
    top: 0;
    /*width: max-content;*/
    padding: 5px;
    font-size: 13px;
    border: 1px solid black;
    display: none;
    text-align: justify;
    overflow: hidden;
    border-radius: 5px;
}